
# Created by https://www.gitignore.io/api/jupyternotebook
# Edit at https://www.gitignore.io/?templates=jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

# End of https://www.gitignore.io/api/jupyternotebook

# File is too large for GitHub
data/raw/los-angeles-parking-citations/parking-citations.csv
data/parking_data_clean_with_zip.csv
parking_data_clean_2018_zip_geoid.csv
